@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200&display=swap");
@font-face {
  font-family: IBM;
  src: url(../../assets/fonts/IBM/IBMPlexSans-Regular.ttf); }

* {
  margin: 0;
  top: 0;
  box-sizing: border-box;
  font-family: 'Roboto Flex', IBM, 'sens-serif'; }

html {
  font-size: 62.5%; }

img {
  max-width: 100%; }

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 150px;
  grid-template-areas: "header" "main" "footer"; }

.encabezado {
  grid-area: header; }
  .encabezado .desktop-version {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto Flex', IBM, 'sens-serif';
    font-weight: 200;
    box-shadow: 0px 0px 5px 0px black;
    padding: 0px 60px;
    z-index: 1; }
    @media (max-width: 1030px) {
      .encabezado .desktop-version {
        display: none; } }
    .encabezado .desktop-version .logo img {
      height: 80px; }
    .encabezado .desktop-version .nav-site ul {
      display: flex;
      flex-direction: row;
      margin: 15px 0px; }
    .encabezado .desktop-version .nav-site li {
      list-style-type: none;
      padding: 0px 10px; }
      .encabezado .desktop-version .nav-site li a {
        text-decoration: none;
        color: black;
        font-size: 1.7rem;
        padding: 27px 0px; }
        .encabezado .desktop-version .nav-site li a:hover {
          border-bottom: solid 4px #4A299C; }
    .encabezado .desktop-version .nav-user ul {
      display: flex;
      flex-direction: row;
      margin: 15px 0px; }
      .encabezado .desktop-version .nav-user ul .register {
        list-style-type: none;
        padding: 0px 10px; }
        .encabezado .desktop-version .nav-user ul .register a {
          text-decoration: none;
          background-color: #4A299C;
          color: white;
          padding: 5px;
          font-size: 1.7rem;
          border-radius: 5px; }
      .encabezado .desktop-version .nav-user ul .login {
        list-style-type: none; }
        .encabezado .desktop-version .nav-user ul .login a {
          text-decoration: none;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          font-size: 1.7rem;
          color: black; }
          .encabezado .desktop-version .nav-user ul .login a i {
            font-size: 1.7rem;
            margin-right: 5px;
            color: #4A299C; }
  .encabezado .tablet-mobile_version {
    display: none; }
    @media (max-width: 1030px) {
      .encabezado .tablet-mobile_version {
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: 'Roboto Flex', IBM, 'sens-serif';
        font-weight: 200;
        box-shadow: 0px 0px 5px 0px black;
        padding: 0px 60px;
        z-index: 1; }
        .encabezado .tablet-mobile_version .logo img {
          height: 80px; }
        .encabezado .tablet-mobile_version label i {
          color: #4A299C;
          font-size: 6rem;
          cursor: pointer; }
        .encabezado .tablet-mobile_version input {
          display: none; }
        .encabezado .tablet-mobile_version .nav-mt {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          position: absolute;
          top: 80px;
          bottom: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.9);
          width: 100vw;
          height: 100vh;
          clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
          transition: clip-path 1s ease-in-out;
          padding: 25px; }
          .encabezado .tablet-mobile_version .nav-mt .nav-mt_user {
            align-self: center;
            padding-bottom: 40px; }
            .encabezado .tablet-mobile_version .nav-mt .nav-mt_user .user-r {
              font-family: 'Roboto Flex', IBM, 'sens-serif';
              text-decoration: none;
              color: black;
              font-size: 24px;
              padding: 5px 100px;
              background-color: white;
              border-radius: 5px;
              border: solid 1px black;
              margin: 0px 10px; }
            .encabezado .tablet-mobile_version .nav-mt .nav-mt_user .user-l {
              font-family: 'Roboto Flex', IBM, 'sens-serif';
              text-decoration: none;
              color: white;
              font-size: 24px;
              padding: 5px 100px;
              background-color: none;
              border-radius: 5px;
              border: solid 1px white;
              margin: 0px 10px; }
          .encabezado .tablet-mobile_version .nav-mt .nav-mt_ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 0; }
            .encabezado .tablet-mobile_version .nav-mt .nav-mt_ul .tag {
              color: rgba(255, 255, 255, 0.5);
              font-size: 1.5rem;
              font-weight: bold;
              border-bottom: solid 1px white; }
            .encabezado .tablet-mobile_version .nav-mt .nav-mt_ul li {
              list-style-type: none;
              padding: 20px 0px; }
              .encabezado .tablet-mobile_version .nav-mt .nav-mt_ul li a {
                text-decoration: none;
                color: white;
                font-weight: bold;
                font-size: 1.7rem; }
          .encabezado .tablet-mobile_version .nav-mt .nav-mt_rs {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 20px 0px; }
            .encabezado .tablet-mobile_version .nav-mt .nav-mt_rs p, .encabezado .tablet-mobile_version .nav-mt .nav-mt_rs .cuerpo .portada .text a, .cuerpo .portada .text .encabezado .tablet-mobile_version .nav-mt .nav-mt_rs a {
              color: rgba(255, 255, 255, 0.5);
              font-size: 1.5rem;
              font-weight: bold;
              border-bottom: solid 1px white; }
            .encabezado .tablet-mobile_version .nav-mt .nav-mt_rs div .social-logos {
              color: white;
              font-size: 30px;
              position: relative;
              right: 7px; }
        .encabezado .tablet-mobile_version input:checked + .nav-mt {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }

.cuerpo {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 600px repeat(3, 1fr); }
  @media (max-width: 1030px) {
    .cuerpo {
      grid-template-rows: 900px repeat(3, 1fr); } }
  .cuerpo .portada {
    background: center url(../../assets/img/editor-main.jpg);
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px; }
    @media (max-width: 1030px) {
      .cuerpo .portada {
        flex-direction: column;
        justify-content: center; } }
    .cuerpo .portada .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
      @media (max-width: 1030px) {
        .cuerpo .portada .text {
          align-items: center; } }
      .cuerpo .portada .text h1, .cuerpo .portada .text p, .cuerpo .portada .text a {
        color: white;
        font-family: IBM;
        font-weight: Bold;
        font-size: 6rem; }
        @media (max-width: 1470px) {
          .cuerpo .portada .text h1, .cuerpo .portada .text p, .cuerpo .portada .text a {
            font-size: 5rem; } }
        @media (max-width: 1250px) {
          .cuerpo .portada .text h1, .cuerpo .portada .text p, .cuerpo .portada .text a {
            font-size: 4rem; } }
        .cuerpo .portada .text h1 span, .cuerpo .portada .text p span, .cuerpo .portada .text a span {
          font-family: IBM;
          display: block; }
          @media (max-width: 1030px) {
            .cuerpo .portada .text h1 span, .cuerpo .portada .text p span, .cuerpo .portada .text a span {
              text-align: center; } }
      .cuerpo .portada .text p, .cuerpo .portada .text a {
        font-size: 3.5rem;
        font-weight: 100; }
        @media (max-width: 1470px) {
          .cuerpo .portada .text p, .cuerpo .portada .text a {
            font-size: 3rem; } }
        @media (max-width: 1250px) {
          .cuerpo .portada .text p, .cuerpo .portada .text a {
            font-size: 2.5rem; } }
      .cuerpo .portada .text a {
        text-decoration: none;
        background: #4A299C;
        font-size: 2.4rem;
        padding: 20px;
        border-radius: 5px;
        border: solid 1px white; }
        @media (max-width: 1470px) {
          .cuerpo .portada .text a {
            font-size: 1.8rem; } }
        @media (max-width: 1250px) {
          .cuerpo .portada .text a {
            font-size: 1.5rem; } }
        @media (max-width: 1030px) {
          .cuerpo .portada .text a {
            margin: 15px 0px; } }
    .cuerpo .portada .img img {
      width: 700px;
      height: 500px;
      opacity: .5; }
      @media (max-width: 1470px) {
        .cuerpo .portada .img img {
          width: 600px;
          height: 400px; } }
      @media (max-width: 1250px) {
        .cuerpo .portada .img img {
          width: 500px; } }
      @media (max-width: 1030px) {
        .cuerpo .portada .img img {
          height: 400px; } }

.pie {
  grid-area: footer; }
