@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200&display=swap");
@font-face {
  font-family: IBM;
  src: url(../../assets/fonts/IBM/IBMPlexSans-Regular.ttf); }

* {
  margin: 0;
  top: 0;
  box-sizing: border-box;
  font-family: 'Roboto Flex', IBM, 'sens-serif'; }

html {
  font-size: 62.5%; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 150px;
  grid-template-areas: "header" "main" "footer"; }

.encabezado {
  grid-area: header;
  box-shadow: -2px 21px 201px -21px black;
  z-index: 99; }
  .encabezado .container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 40px;
    box-shadow: 0px 14px 14px -21px black; }
    .encabezado .container .row .logo img {
      height: 80px; }
    @media (max-width: 1030px) {
      .encabezado .container .row .logo {
        flex: 0 0 auto; } }
    @media (max-width: 1030px) {
      .encabezado .container .row .nav .menu-overlay {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1098;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease; } }
    .encabezado .container .row .nav .menu-overlay.open {
      visibility: visible;
      opacity: 1; }
    @media (max-width: 1030px) {
      .encabezado .container .row .nav .menu {
        position: fixed;
        width: 360px;
        background-color: #ffffff;
        left: 0;
        top: 0;
        height: 100%;
        transition: all 0.5s ease;
        z-index: 1100;
        transform: translateX(-150%); }
        .encabezado .container .row .nav .menu.open {
          transform: translateX(0%); } }
    .encabezado .container .row .nav .menu .mobile-menu-head {
      display: none; }
      @media (max-width: 1030px) {
        .encabezado .container .row .nav .menu .mobile-menu-head {
          display: flex;
          height: 60px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          justify-content: space-between;
          align-items: center;
          position: relative;
          z-index: 9999;
          position: static;
          background-color: #ffffff;
          top: 0; }
          .encabezado .container .row .nav .menu .mobile-menu-head.active .go-back {
            display: block; }
          .encabezado .container .row .nav .menu .mobile-menu-head.active .current-menu_title {
            visibility: visible; } }
      .encabezado .container .row .nav .menu .mobile-menu-head .go-back {
        height: 60px;
        width: 60px;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        line-height: 60px;
        text-align: center;
        color: #000000;
        font-size: 16px;
        display: none; }
        .encabezado .container .row .nav .menu .mobile-menu-head .go-back i {
          font-size: 50px;
          padding: 5px 0px; }
      .encabezado .container .row .nav .menu .mobile-menu-head .current-menu_title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 500;
        color: #000000;
        visibility: hidden; }
        .encabezado .container .row .nav .menu .mobile-menu-head .current-menu_title img {
          width: 45px;
          height: 45px; }
      .encabezado .container .row .nav .menu .mobile-menu-head .mobile-menu-close {
        height: 60px;
        width: 60px;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        line-height: 60px;
        text-align: center;
        color: #000000; }
        .encabezado .container .row .nav .menu .mobile-menu-head .mobile-menu-close i {
          font-size: 50px;
          padding: 5px 0px; }
    .encabezado .container .row .nav .menu .menu-main {
      /* Categorías UL */
      display: flex; }
      @media (max-width: 1030px) {
        .encabezado .container .row .nav .menu .menu-main {
          height: 100%;
          overflow-x: hidden;
          overflow-y: auto;
          flex-direction: column; } }
      .encabezado .container .row .nav .menu .menu-main .nav-item {
        /* Categorías LI */
        padding: 25px 0px; }
        @media (max-width: 1030px) {
          .encabezado .container .row .nav .menu .menu-main .nav-item {
            line-height: 1;
            margin: 0;
            padding: 0;
            display: block; } }
        .encabezado .container .row .nav .menu .menu-main .nav-item .nav-link {
          /* Categorías Anchor */
          font-family: 'Roboto Flex', sans-serif;
          font-size: 1.7rem;
          font-weight: 600;
          padding: 0px 10px;
          color: black; }
          .encabezado .container .row .nav .menu .menu-main .nav-item .nav-link:hover i {
            transition: .3s;
            transform: rotate(180deg); }
          .encabezado .container .row .nav .menu .menu-main .nav-item .nav-link i {
            font-size: 1.5rem; }
            @media (max-width: 1030px) {
              .encabezado .container .row .nav .menu .menu-main .nav-item .nav-link i {
                position: absolute;
                right: 0;
                padding: 0px 14.5px;
                border-left: solid 1px rgba(0, 0, 0, 0.1);
                height: 50px;
                line-height: 50px;
                font-size: 3rem; } }
          .encabezado .container .row .nav .menu .menu-main .nav-item .nav-link:hover {
            color: #4A299C; }
          @media (max-width: 1030px) {
            .encabezado .container .row .nav .menu .menu-main .nav-item .nav-link {
              position: relative;
              left: -40px;
              top: 0px;
              line-height: 50px;
              height: 50px;
              width: 360px;
              padding: 0 50px 0 15px;
              display: block;
              border-bottom: 1px solid rgba(0, 0, 0, 0.1); } }
        .encabezado .container .row .nav .menu .menu-main .nav-item .sub-menu {
          /* Subcategorías DIV */
          /* Caja contenedora del dropdown menú*/
          position: absolute;
          z-index: 500;
          background-color: rgba(116, 116, 116, 0.7);
          box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
          padding: 20px 30px;
          transition: all 0.5s ease;
          top: 80px;
          left: 0;
          right: 0;
          opacity: 0;
          visibility: hidden; }
          @media (max-width: 1030px) {
            .encabezado .container .row .nav .menu .menu-main .nav-item .sub-menu {
              background-color: white;
              visibility: visible;
              opacity: 1;
              position: absolute;
              box-shadow: none;
              margin: 0;
              padding: 15px;
              top: 60px;
              width: 100%;
              height: 100%;
              display: none;
              transform: translateX(0%);
              overflow-y: auto; }
              .encabezado .container .row .nav .menu .menu-main .nav-item .sub-menu.active {
                display: block; }
            @keyframes slideLeft {
              0% {
                opacity: 0;
                transform: translateY(100%); }
              100% {
                opacity: 1;
                transform: translateY(0%); } }
            @keyframes slideRight {
              0% {
                opacity: 1;
                transform: translateY(0%); }
              100% {
                opacity: 0;
                transform: translateY(100%); } } }
          .encabezado .container .row .nav .menu .menu-main .nav-item .sub-menu ul {
            /* Disposición de elementos del dropdown menú */
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center; }
            @media (max-width: 1030px) {
              .encabezado .container .row .nav .menu .menu-main .nav-item .sub-menu ul {
                width: 360px;
                position: absolute;
                top: 0;
                left: 0;
                flex-direction: column; } }
          .encabezado .container .row .nav .menu .menu-main .nav-item .sub-menu li {
            /* Elementos individuales del dropdown menú*/
            align-self: flex-start;
            font-size: 1.7rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px; }
            @media (max-width: 1030px) {
              .encabezado .container .row .nav .menu .menu-main .nav-item .sub-menu li {
                width: 360px;
                position: relative;
                left: -40px;
                justify-content: flex-start;
                border-bottom: solid 1px rgba(0, 0, 0, 0.1); } }
            .encabezado .container .row .nav .menu .menu-main .nav-item .sub-menu li a {
              font-size: 1.5rem;
              color: white; }
              @media (max-width: 1030px) {
                .encabezado .container .row .nav .menu .menu-main .nav-item .sub-menu li a {
                  color: black; } }
              .encabezado .container .row .nav .menu .menu-main .nav-item .sub-menu li a:hover {
                color: #e8cc85; }
            .encabezado .container .row .nav .menu .menu-main .nav-item .sub-menu li img {
              width: 32px;
              height: 32px;
              margin-right: 10px;
              border-radius: 50%; }
      .encabezado .container .row .nav .menu .menu-main .img {
        display: none; }
        @media (max-width: 1030px) {
          .encabezado .container .row .nav .menu .menu-main .img {
            display: block;
            width: 360px;
            position: relative;
            left: -40px;
            margin: 40px 0px; }
            .encabezado .container .row .nav .menu .menu-main .img img {
              width: 100px;
              height: 100px;
              margin: 0px 130px; } }
      .encabezado .container .row .nav .menu .menu-main .item-father:hover .sub-menu {
        visibility: visible;
        opacity: 1; }
    .encabezado .container .row .users {
      display: flex;
      justify-content: center;
      align-items: center; }
      @media (max-width: 1030px) {
        .encabezado .container .row .users {
          flex: 0 0 auto;
          align-items: center; } }
      .encabezado .container .row .users .bx-cart {
        padding: 0px 15px; }
      .encabezado .container .row .users .bx-menu {
        margin-left: 15px;
        display: none; }
        @media (max-width: 1030px) {
          .encabezado .container .row .users .bx-menu {
            display: block;
            margin-left: 0; } }
      @media (max-width: 1030px) {
        .encabezado .container .row .users .bxs-user-circle {
          display: none; } }
      .encabezado .container .row .users .mobile-menu-trigger {
        height: 30px;
        width: 30px;
        margin-left: 15px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        display: none; }
        @media (max-width: 1030px) {
          .encabezado .container .row .users .mobile-menu-trigger {
            display: flex; } }
        .encabezado .container .row .users .mobile-menu-trigger span {
          display: block;
          height: 2px;
          background-color: #333333;
          width: 24px;
          position: relative; }
          .encabezado .container .row .users .mobile-menu-trigger span:before {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #333333; }
          .encabezado .container .row .users .mobile-menu-trigger span:after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #333333; }
          .encabezado .container .row .users .mobile-menu-trigger span:before {
            top: -6px; }
          .encabezado .container .row .users .mobile-menu-trigger span:after {
            top: 6px; }
      .encabezado .container .row .users i {
        font-size: 3.5rem;
        cursor: pointer; }
        .encabezado .container .row .users i:hover {
          color: #4A299C; }
  .encabezado .container .v-center {
    align-items: center; }

.cuerpo {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 600px repeat(3, 1fr); }
  @media (max-width: 1030px) {
    .cuerpo {
      grid-template-rows: 900px repeat(3, 1fr); } }
  .cuerpo .portada {
    background: center url(../../assets/img/editor-main.jpg);
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px; }
    @media (max-width: 1030px) {
      .cuerpo .portada {
        flex-direction: column;
        justify-content: center; } }
    .cuerpo .portada .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
      @media (max-width: 1030px) {
        .cuerpo .portada .text {
          align-items: center; } }
      .cuerpo .portada .text h1, .cuerpo .portada .text p, .cuerpo .portada .text a {
        color: white;
        font-family: IBM;
        font-weight: Bold;
        font-size: 6rem; }
        @media (max-width: 1470px) {
          .cuerpo .portada .text h1, .cuerpo .portada .text p, .cuerpo .portada .text a {
            font-size: 5rem; } }
        @media (max-width: 1250px) {
          .cuerpo .portada .text h1, .cuerpo .portada .text p, .cuerpo .portada .text a {
            font-size: 4rem; } }
        .cuerpo .portada .text h1 span, .cuerpo .portada .text p span, .cuerpo .portada .text a span {
          font-family: IBM;
          display: block; }
          @media (max-width: 1030px) {
            .cuerpo .portada .text h1 span, .cuerpo .portada .text p span, .cuerpo .portada .text a span {
              text-align: center; } }
      .cuerpo .portada .text p, .cuerpo .portada .text a {
        font-size: 3.5rem;
        font-weight: 100; }
        @media (max-width: 1470px) {
          .cuerpo .portada .text p, .cuerpo .portada .text a {
            font-size: 3rem; } }
        @media (max-width: 1250px) {
          .cuerpo .portada .text p, .cuerpo .portada .text a {
            font-size: 2.5rem; } }
      .cuerpo .portada .text a {
        text-decoration: none;
        margin-top: 15px;
        background: #4A299C;
        font-size: 2.4rem;
        padding: 20px;
        border-radius: 5px;
        border: solid 1px white; }
        @media (max-width: 1470px) {
          .cuerpo .portada .text a {
            font-size: 1.8rem; } }
        @media (max-width: 1250px) {
          .cuerpo .portada .text a {
            font-size: 1.5rem; } }
        @media (max-width: 1030px) {
          .cuerpo .portada .text a {
            margin: 15px 0px; } }
    .cuerpo .portada .img img {
      width: 700px;
      height: 500px;
      opacity: .5; }
      @media (max-width: 1470px) {
        .cuerpo .portada .img img {
          width: 600px;
          height: 400px; } }
      @media (max-width: 1250px) {
        .cuerpo .portada .img img {
          width: 500px; } }
      @media (max-width: 1030px) {
        .cuerpo .portada .img img {
          height: 400px; } }

.pie {
  grid-area: footer; }
