@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200&display=swap");
@font-face {
  font-family: IBM;
  src: url(../../assets/fonts/IBM/IBMPlexSans-Regular.ttf); }

@font-face {
  font-family: Comforta;
  src: url(../../assets/fonts/Comforta/Comfortaa-SemiBold.ttf); }

@font-face {
  font-family: Lato;
  src: url(../../assets/fonts/Lato/Lato-Regular.ttf); }

@font-face {
  font-family: "Archive Black";
  src: url(../../assets/fonts/Archive-Black/ArchivoBlack-Regular.ttf); }

@font-face {
  font-family: Yellowtail;
  src: url(../../assets/fonts/Yellowtail/Yellowtail-Regular.ttf); }

* {
  margin: 0;
  top: 0;
  box-sizing: border-box;
  font-family: 'Roboto Flex', IBM, 'sens-serif'; }

html {
  font-size: 62.5%; }

img {
  max-width: 100%;
  max-height: 100%; }

a {
  text-decoration: none; }

li {
  list-style: none; }

body::-webkit-scrollbar {
  width: 7px;
  background-color: rgba(0, 0, 0, 0.1); }

body::-webkit-scrollbar-thumb {
  background: #051a4b;
  border-radius: 5px; }

.encabezado {
  grid-area: header;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  z-index: 999;
  position: fixed;
  width: 100vw;
  height: 80px; }
  .encabezado .container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 40px;
    background-color: white; }
    .encabezado .container .row .logo img {
      height: 80px; }
    @media (max-width: 1030px) {
      .encabezado .container .row .logo {
        flex: 0 0 auto; } }
    @media (max-width: 1030px) {
      .encabezado .container .row .nav .menu-overlay {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1098;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease; } }
    .encabezado .container .row .nav .menu-overlay.open {
      visibility: visible;
      opacity: 1; }
    @media (max-width: 1030px) {
      .encabezado .container .row .nav .menu {
        position: fixed;
        width: 360px;
        background-color: #ffffff;
        left: 0;
        top: 0;
        height: 100%;
        transition: all 0.5s ease;
        z-index: 1100;
        transform: translateX(-150%); }
        .encabezado .container .row .nav .menu.open {
          transform: translateX(0%); } }
    .encabezado .container .row .nav .menu .mobile-menu-head {
      display: none; }
      @media (max-width: 1030px) {
        .encabezado .container .row .nav .menu .mobile-menu-head {
          display: flex;
          height: 60px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          justify-content: space-between;
          align-items: center;
          position: relative;
          z-index: 9999;
          position: static;
          background-color: #ffffff;
          top: 0; }
          .encabezado .container .row .nav .menu .mobile-menu-head.active .go-back {
            display: block; }
          .encabezado .container .row .nav .menu .mobile-menu-head.active .current-menu_title {
            visibility: visible; } }
      .encabezado .container .row .nav .menu .mobile-menu-head .go-back {
        height: 60px;
        width: 60px;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        line-height: 60px;
        text-align: center;
        color: #000000;
        font-size: 16px;
        display: none; }
        .encabezado .container .row .nav .menu .mobile-menu-head .go-back i {
          font-size: 50px;
          padding: 5px 0px; }
      .encabezado .container .row .nav .menu .mobile-menu-head .current-menu_title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 500;
        color: #000000;
        visibility: hidden; }
        .encabezado .container .row .nav .menu .mobile-menu-head .current-menu_title img {
          width: 45px;
          height: 45px; }
      .encabezado .container .row .nav .menu .mobile-menu-head .mobile-menu-close {
        height: 60px;
        width: 60px;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        line-height: 60px;
        text-align: center;
        color: #000000; }
        .encabezado .container .row .nav .menu .mobile-menu-head .mobile-menu-close i {
          font-size: 50px;
          padding: 5px 0px; }
    .encabezado .container .row .nav .menu .menu-main {
      /* Categorías UL */
      display: flex; }
      @media (max-width: 1030px) {
        .encabezado .container .row .nav .menu .menu-main {
          height: 100%;
          overflow-x: hidden;
          overflow-y: auto;
          flex-direction: column; } }
      .encabezado .container .row .nav .menu .menu-main .nav-item {
        /* Categorías LI */
        padding: 25px 0px; }
        @media (max-width: 1030px) {
          .encabezado .container .row .nav .menu .menu-main .nav-item {
            line-height: 1;
            margin: 0;
            padding: 0;
            display: block; } }
        .encabezado .container .row .nav .menu .menu-main .nav-item .nav-link {
          /* Categorías Anchor */
          font-family: 'Roboto Flex', sans-serif;
          font-size: 1.7rem;
          font-weight: 200;
          padding: 0px 10px;
          color: black; }
          .encabezado .container .row .nav .menu .menu-main .nav-item .nav-link:hover i {
            transition: .3s;
            transform: rotate(180deg); }
          .encabezado .container .row .nav .menu .menu-main .nav-item .nav-link i {
            font-size: 1.5rem; }
            @media (max-width: 1030px) {
              .encabezado .container .row .nav .menu .menu-main .nav-item .nav-link i {
                position: absolute;
                right: 0;
                padding: 0px 14.5px;
                border-left: solid 1px rgba(0, 0, 0, 0.1);
                height: 50px;
                line-height: 50px;
                font-size: 3rem; } }
          .encabezado .container .row .nav .menu .menu-main .nav-item .nav-link:hover {
            font-weight: bold;
            color: #051a4b; }
          @media (max-width: 1030px) {
            .encabezado .container .row .nav .menu .menu-main .nav-item .nav-link {
              position: relative;
              left: -40px;
              top: 0px;
              line-height: 50px;
              height: 50px;
              width: 360px;
              padding: 0 50px 0 15px;
              display: block;
              border-bottom: 1px solid rgba(0, 0, 0, 0.1); } }
        .encabezado .container .row .nav .menu .menu-main .nav-item .sub-menu {
          /* Subcategorías DIV */
          /* Caja contenedora del dropdown menú*/
          position: absolute;
          z-index: 500;
          background: #051a4b;
          background: linear-gradient(90deg, #051a4b 0%, #572a69 100%);
          padding: 20px 30px;
          transition: all 0.5s ease;
          top: 80px;
          left: 0;
          right: 0;
          opacity: 0;
          visibility: hidden; }
          @media (max-width: 1030px) {
            .encabezado .container .row .nav .menu .menu-main .nav-item .sub-menu {
              background-color: white;
              background: white;
              visibility: visible;
              opacity: 1;
              position: absolute;
              box-shadow: none;
              margin: 0;
              padding: 15px;
              top: 60px;
              width: 100%;
              height: 100%;
              display: none;
              transform: translateX(0%);
              overflow-y: auto; }
              .encabezado .container .row .nav .menu .menu-main .nav-item .sub-menu.active {
                display: block; }
            @keyframes slideLeft {
              0% {
                opacity: 0;
                transform: translateY(100%); }
              100% {
                opacity: 1;
                transform: translateY(0%); } }
            @keyframes slideRight {
              0% {
                opacity: 1;
                transform: translateY(0%); }
              100% {
                opacity: 0;
                transform: translateY(100%); } } }
          .encabezado .container .row .nav .menu .menu-main .nav-item .sub-menu ul {
            /* Disposición de elementos del dropdown menú */
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center; }
            @media (max-width: 1030px) {
              .encabezado .container .row .nav .menu .menu-main .nav-item .sub-menu ul {
                width: 360px;
                position: absolute;
                top: 0;
                left: 0;
                flex-direction: column; } }
          .encabezado .container .row .nav .menu .menu-main .nav-item .sub-menu li {
            /* Elementos individuales del dropdown menú*/
            align-self: flex-start;
            font-size: 1.7rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px; }
            @media (max-width: 1030px) {
              .encabezado .container .row .nav .menu .menu-main .nav-item .sub-menu li {
                width: 360px;
                position: relative;
                left: -40px;
                justify-content: flex-start;
                border-bottom: solid 1px rgba(0, 0, 0, 0.1); } }
            .encabezado .container .row .nav .menu .menu-main .nav-item .sub-menu li a {
              font-size: 1.5rem;
              color: white; }
              @media (max-width: 1030px) {
                .encabezado .container .row .nav .menu .menu-main .nav-item .sub-menu li a {
                  color: black; } }
              .encabezado .container .row .nav .menu .menu-main .nav-item .sub-menu li a:hover {
                color: #e8cc85; }
            .encabezado .container .row .nav .menu .menu-main .nav-item .sub-menu li img {
              width: 32px;
              height: 32px;
              margin-right: 10px;
              border-radius: 50%;
              border: solid 1px white; }
      .encabezado .container .row .nav .menu .menu-main .img {
        display: none; }
        @media (max-width: 1030px) {
          .encabezado .container .row .nav .menu .menu-main .img {
            display: block;
            width: 360px;
            position: relative;
            left: -40px;
            margin: 40px 0px; }
            .encabezado .container .row .nav .menu .menu-main .img img {
              width: 100px;
              height: 100px;
              margin: 0px 130px; } }
      .encabezado .container .row .nav .menu .menu-main .item-father:hover .sub-menu {
        visibility: visible;
        opacity: 1; }
    .encabezado .container .row .users {
      display: flex;
      justify-content: center;
      align-items: center; }
      @media (max-width: 1030px) {
        .encabezado .container .row .users {
          flex: 0 0 auto;
          align-items: center; } }
      .encabezado .container .row .users .bx-cart {
        padding: 0px 15px; }
      .encabezado .container .row .users .bx-menu {
        margin-left: 15px;
        display: none; }
        @media (max-width: 1030px) {
          .encabezado .container .row .users .bx-menu {
            display: block;
            margin-left: 0; } }
      @media (max-width: 1030px) {
        .encabezado .container .row .users .bxs-user-circle {
          display: none; } }
      .encabezado .container .row .users .mobile-menu-trigger {
        height: 30px;
        width: 30px;
        margin-left: 15px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        display: none; }
        @media (max-width: 1030px) {
          .encabezado .container .row .users .mobile-menu-trigger {
            display: flex; } }
        .encabezado .container .row .users .mobile-menu-trigger span {
          display: block;
          height: 2px;
          background-color: #333333;
          width: 24px;
          position: relative; }
          .encabezado .container .row .users .mobile-menu-trigger span:before {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #333333; }
          .encabezado .container .row .users .mobile-menu-trigger span:after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #333333; }
          .encabezado .container .row .users .mobile-menu-trigger span:before {
            top: -6px; }
          .encabezado .container .row .users .mobile-menu-trigger span:after {
            top: 6px; }
      .encabezado .container .row .users i {
        font-size: 3.5rem;
        cursor: pointer; }
        .encabezado .container .row .users i:hover {
          color: #051a4b; }
  .encabezado .container .v-center {
    align-items: center; }

.cuerpo .portada {
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0px 20px; }
  @media (max-width: 1030px) {
    .cuerpo .portada {
      flex-direction: column;
      justify-content: center;
      height: 900px; } }
  @media (max-width: 420px) {
    .cuerpo .portada {
      justify-content: center;
      align-items: center;
      margin: 50px 0px;
      height: 600px; } }
  .cuerpo .portada .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    @media (max-width: 1030px) {
      .cuerpo .portada .text {
        align-items: center; } }
    .cuerpo .portada .text h1, .cuerpo .portada .text p, .cuerpo .portada .text a {
      color: black;
      font-family: IBM;
      font-weight: Bold;
      font-size: 6rem; }
      @media (max-width: 1470px) {
        .cuerpo .portada .text h1, .cuerpo .portada .text p, .cuerpo .portada .text a {
          font-size: 5rem; } }
      @media (max-width: 1250px) {
        .cuerpo .portada .text h1, .cuerpo .portada .text p, .cuerpo .portada .text a {
          font-size: 4rem; } }
      @media (max-width: 530px) {
        .cuerpo .portada .text h1, .cuerpo .portada .text p, .cuerpo .portada .text a {
          font-size: 3rem; } }
      @media (max-width: 420px) {
        .cuerpo .portada .text h1, .cuerpo .portada .text p, .cuerpo .portada .text a {
          font-size: 2.5rem; } }
      .cuerpo .portada .text h1 span, .cuerpo .portada .text p span, .cuerpo .portada .text a span {
        font-family: IBM;
        display: block; }
        @media (max-width: 1030px) {
          .cuerpo .portada .text h1 span, .cuerpo .portada .text p span, .cuerpo .portada .text a span {
            text-align: center; } }
    .cuerpo .portada .text p, .cuerpo .portada .text a {
      font-size: 3.5rem;
      font-weight: 100;
      color: black; }
      @media (max-width: 1470px) {
        .cuerpo .portada .text p, .cuerpo .portada .text a {
          font-size: 3rem; } }
      @media (max-width: 1250px) {
        .cuerpo .portada .text p, .cuerpo .portada .text a {
          font-size: 2.5rem; } }
      @media (max-width: 530px) {
        .cuerpo .portada .text p, .cuerpo .portada .text a {
          font-size: 2rem; } }
      @media (max-width: 420px) {
        .cuerpo .portada .text p, .cuerpo .portada .text a {
          font-size: 1.6rem; } }
    .cuerpo .portada .text a {
      text-decoration: none;
      font-weight: bold;
      margin-top: 15px;
      color: white;
      background: #572a69;
      font-size: 2.4rem;
      padding: 20px;
      border-radius: 5px;
      border: solid 2px #051a4b; }
      .cuerpo .portada .text a:active {
        transition: all .4s ease-in-out;
        transform: scale(1.001);
        background: #051a4b;
        background: linear-gradient(90deg, #051a4b 0%, #572a69 100%); }
      @media (max-width: 1470px) {
        .cuerpo .portada .text a {
          font-size: 1.8rem; } }
      @media (max-width: 1250px) {
        .cuerpo .portada .text a {
          font-size: 1.5rem; } }
      @media (max-width: 1030px) {
        .cuerpo .portada .text a {
          margin: 15px 0px; } }
      @media (max-width: 530px) {
        .cuerpo .portada .text a {
          padding: 10px; } }
  .cuerpo .portada .img img {
    width: 700px;
    height: 500px;
    opacity: 1;
    border-radius: 50%; }
    @media (max-width: 1470px) {
      .cuerpo .portada .img img {
        width: 600px;
        height: 400px; } }
    @media (max-width: 1250px) {
      .cuerpo .portada .img img {
        width: 500px; } }
    @media (max-width: 1030px) {
      .cuerpo .portada .img img {
        height: 400px; } }
    @media (max-width: 420px) {
      .cuerpo .portada .img img {
        height: 300px;
        width: 300px; } }

.cuerpo .products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.01); }
  @media (max-width: 1030px) {
    .cuerpo .products {
      justify-content: flex-start; } }
  .cuerpo .products .products-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem; }
    @media (max-width: 450px) {
      .cuerpo .products .products-text {
        margin: 10px 0px; } }
    .cuerpo .products .products-text h2 {
      margin-top: 10px;
      font-size: 4rem;
      font-family: "IBM";
      font-weight: bold; }
      @media (max-width: 1250px) {
        .cuerpo .products .products-text h2 {
          font-size: 3rem; } }
      @media (max-width: 810px) {
        .cuerpo .products .products-text h2 {
          text-align: center; } }
    .cuerpo .products .products-text p, .cuerpo .products .products-text .portada .text a, .cuerpo .portada .text .products .products-text a {
      margin-top: 5px;
      font-size: 2rem;
      font-family: "IBM"; }
      @media (max-width: 450px) {
        .cuerpo .products .products-text p, .cuerpo .products .products-text .portada .text a, .cuerpo .portada .text .products .products-text a {
          font-size: 1.7rem; } }
  .cuerpo .products .products-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .cuerpo .products .products-cards a {
      margin: 15px; }
      .cuerpo .products .products-cards a .cards {
        width: 300px;
        height: 270px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: all .2s ease-in-out; }
        .cuerpo .products .products-cards a .cards:hover {
          transform: scale(1.1); }
        .cuerpo .products .products-cards a .cards img {
          width: 300px;
          height: 200px;
          border-radius: 5px; }
        .cuerpo .products .products-cards a .cards span {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          width: 300px;
          position: relative;
          bottom: 20px;
          padding: 10px 5px; }
          .cuerpo .products .products-cards a .cards span h3 {
            font-size: 2rem;
            font-weight: bold;
            font-family: "IBM";
            color: black; }
            .cuerpo .products .products-cards a .cards span h3:hover {
              color: #572a69; }
          .cuerpo .products .products-cards a .cards span p, .cuerpo .products .products-cards a .cards span .portada .text a, .cuerpo .portada .text .products .products-cards a .cards span a {
            font-size: 1.2rem;
            font-family: "IBM"; }
            .cuerpo .products .products-cards a .cards span p:hover, .cuerpo .products .products-cards a .cards span .portada .text a:hover, .cuerpo .portada .text .products .products-cards a .cards span a:hover {
              color: #572a69;
              text-decoration: underline; }
  .cuerpo .products .products-test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 45px; }
    @media (max-width: 1030px) {
      .cuerpo .products .products-test {
        justify-content: flex-start; } }
    .cuerpo .products .products-test h4 {
      font-size: 3rem;
      font-family: "IBM";
      font-weight: bold; }
      @media (max-width: 530px) {
        .cuerpo .products .products-test h4 {
          font-size: 2.5rem; } }
      @media (max-width: 450px) {
        .cuerpo .products .products-test h4 {
          font-size: 2rem;
          text-align: center; } }
    .cuerpo .products .products-test .test-logos {
      margin-top: 50px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      @media (max-width: 760px) {
        .cuerpo .products .products-test .test-logos {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(5, 1fr);
          gap: 2px; }
          .cuerpo .products .products-test .test-logos .ae {
            grid-column: 2;
            grid-row: 1; }
          .cuerpo .products .products-test .test-logos .pr {
            grid-column: 2;
            grid-row: 2; }
          .cuerpo .products .products-test .test-logos .ai {
            grid-column: 2;
            grid-row: 3; }
          .cuerpo .products .products-test .test-logos .ps {
            grid-column: 2;
            grid-row: 4; }
          .cuerpo .products .products-test .test-logos .lr {
            grid-column: 2;
            grid-row: 5; } }
      @media (max-width: 530px) {
        .cuerpo .products .products-test .test-logos {
          grid-template-columns: 1fr;
          margin-top: 0;
          margin-bottom: 0; }
          .cuerpo .products .products-test .test-logos .ae {
            grid-column: 1;
            grid-row: 1; }
          .cuerpo .products .products-test .test-logos .pr {
            grid-column: 1;
            grid-row: 2; }
          .cuerpo .products .products-test .test-logos .ai {
            grid-column: 1;
            grid-row: 3; }
          .cuerpo .products .products-test .test-logos .ps {
            grid-column: 1;
            grid-row: 4; }
          .cuerpo .products .products-test .test-logos .lr {
            grid-column: 1;
            grid-row: 5; } }
      .cuerpo .products .products-test .test-logos .test-software {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 10px; }
        @media (max-width: 1030px) {
          .cuerpo .products .products-test .test-logos .test-software {
            padding: 5px; } }
        @media (max-width: 760px) {
          .cuerpo .products .products-test .test-logos .test-software {
            margin: 20px 0px; }
            .cuerpo .products .products-test .test-logos .test-software:nth-child(5) {
              margin: 0;
              margin-top: 15px; } }
        .cuerpo .products .products-test .test-logos .test-software img {
          width: 30px;
          height: 30px; }
        .cuerpo .products .products-test .test-logos .test-software p, .cuerpo .products .products-test .test-logos .test-software .portada .text a, .cuerpo .portada .text .products .products-test .test-logos .test-software a {
          line-height: 30px;
          font-size: 1.7rem;
          margin-left: 7.5px;
          padding: 0px 15px;
          border-right: solid 1px rgba(0, 0, 0, 0.1); }
          @media (max-width: 1250px) {
            .cuerpo .products .products-test .test-logos .test-software p, .cuerpo .products .products-test .test-logos .test-software .portada .text a, .cuerpo .portada .text .products .products-test .test-logos .test-software a {
              padding: 0 5px;
              margin-left: 0;
              font-size: 1.4rem; } }
          @media (max-width: 810px) {
            .cuerpo .products .products-test .test-logos .test-software p, .cuerpo .products .products-test .test-logos .test-software .portada .text a, .cuerpo .portada .text .products .products-test .test-logos .test-software a {
              font-size: 1.2rem; } }
          @media (max-width: 760px) {
            .cuerpo .products .products-test .test-logos .test-software p, .cuerpo .products .products-test .test-logos .test-software .portada .text a, .cuerpo .portada .text .products .products-test .test-logos .test-software a {
              padding: 10px;
              border-right: none; } }
        .cuerpo .products .products-test .test-logos .test-software .lightroom {
          border-right: none; }

.cuerpo .clients {
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (max-width: 1350px) {
    .cuerpo .clients {
      justify-content: flex-start; } }
  .cuerpo .clients h4 {
    margin: 45px 0px;
    font-size: 4rem;
    font-family: "IBM";
    font-weight: bold; }
    @media (max-width: 1250px) {
      .cuerpo .clients h4 {
        font-size: 3rem; } }
    @media (max-width: 810px) {
      .cuerpo .clients h4 {
        text-align: center; } }
  .cuerpo .clients .clients-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    @media (max-width: 1110px) {
      .cuerpo .clients .clients-cards {
        flex-direction: column; } }
    .cuerpo .clients .clients-cards .client-a, .cuerpo .clients .clients-cards .client-b, .cuerpo .clients .clients-cards .client-c {
      width: 350px;
      height: 300px;
      border: solid 1px rgba(0, 0, 0, 0.05);
      background-color: rgba(0, 0, 0, 0.005);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 10px; }
      .cuerpo .clients .clients-cards .client-a:hover, .cuerpo .clients .clients-cards .client-b:hover, .cuerpo .clients .clients-cards .client-c:hover {
        transition: all .2s ease-in-out;
        transform: scale(1.05);
        box-shadow: 0px 0px 3px 2px #3333AA;
        border: solid 1px #3333AA; }
      @media (max-width: 1110px) {
        .cuerpo .clients .clients-cards .client-a, .cuerpo .clients .clients-cards .client-b, .cuerpo .clients .clients-cards .client-c {
          width: 400px;
          margin: 15px 0px; } }
      @media (max-width: 450px) {
        .cuerpo .clients .clients-cards .client-a, .cuerpo .clients .clients-cards .client-b, .cuerpo .clients .clients-cards .client-c {
          width: 300px;
          margin: 15px 0px; } }
      .cuerpo .clients .clients-cards .client-a .client-com, .cuerpo .clients .clients-cards .client-b .client-com, .cuerpo .clients .clients-cards .client-c .client-com {
        width: 60px;
        height: 60px; }
      .cuerpo .clients .clients-cards .client-a .client-text, .cuerpo .clients .clients-cards .client-b .client-text, .cuerpo .clients .clients-cards .client-c .client-text {
        font-family: "IBM";
        font-weight: 100;
        font-size: 1.5rem;
        margin: 10px 0px; }
        .cuerpo .clients .clients-cards .client-a .client-text a, .cuerpo .clients .clients-cards .client-b .client-text a, .cuerpo .clients .clients-cards .client-c .client-text a {
          font-weight: bold;
          color: black; }
      .cuerpo .clients .clients-cards .client-a .client-name, .cuerpo .clients .clients-cards .client-b .client-name, .cuerpo .clients .clients-cards .client-c .client-name {
        font-family: "IBM";
        font-weight: 100;
        font-size: 1.5rem; }
        .cuerpo .clients .clients-cards .client-a .client-name span, .cuerpo .clients .clients-cards .client-b .client-name span, .cuerpo .clients .clients-cards .client-c .client-name span {
          display: block; }
          .cuerpo .clients .clients-cards .client-a .client-name span img, .cuerpo .clients .clients-cards .client-b .client-name span img, .cuerpo .clients .clients-cards .client-c .client-name span img {
            position: relative;
            top: 15px;
            width: 24px;
            height: 24px; }
      .cuerpo .clients .clients-cards .client-a .client-pic, .cuerpo .clients .clients-cards .client-b .client-pic, .cuerpo .clients .clients-cards .client-c .client-pic {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        border: solid 2px #051a4b;
        align-self: flex-end; }
    .cuerpo .clients .clients-cards .client-b {
      margin: 0px 20px; }
  .cuerpo .clients .clients-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px; }
    .cuerpo .clients .clients-media h5 {
      margin: 45px 0px;
      font-size: 3rem;
      font-family: "IBM";
      font-weight: bold; }
      @media (max-width: 530px) {
        .cuerpo .clients .clients-media h5 {
          font-size: 2.5rem; } }
      @media (max-width: 450px) {
        .cuerpo .clients .clients-media h5 {
          font-size: 2rem; } }
    .cuerpo .clients .clients-media .clients-media-logos {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      @media (max-width: 1030px) {
        .cuerpo .clients .clients-media .clients-media-logos {
          flex-wrap: wrap; } }
      .cuerpo .clients .clients-media .clients-media-logos img {
        width: 70px;
        height: 70px;
        margin: 0px 50px;
        filter: opacity(0.2) grayscale(1); }
        .cuerpo .clients .clients-media .clients-media-logos img:hover {
          filter: grayscale(0); }
        @media (max-width: 1030px) {
          .cuerpo .clients .clients-media .clients-media-logos img {
            margin: 25px; } }

.cuerpo .publicidad {
  background: center fixed url(../../assets/img/production.jpg);
  background-size: cover;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 1030px) {
    .cuerpo .publicidad {
      flex-direction: column;
      align-items: center;
      justify-content: center; } }
  .cuerpo .publicidad .publicidad-txt {
    margin: 0px 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    @media (max-width: 1030px) {
      .cuerpo .publicidad .publicidad-txt {
        justify-content: center;
        align-items: center; } }
    .cuerpo .publicidad .publicidad-txt h5 {
      font-size: 8rem;
      color: white;
      font-family: "IBM";
      font-weight: bold; }
      @media (max-width: 530px) {
        .cuerpo .publicidad .publicidad-txt h5 {
          font-size: 5.5rem; } }
    .cuerpo .publicidad .publicidad-txt p, .cuerpo .publicidad .publicidad-txt .portada .text a, .cuerpo .portada .text .publicidad .publicidad-txt a {
      font-size: 3rem;
      width: 850px;
      color: white;
      font-family: "IBM";
      font-weight: 100;
      margin: 40px 0px; }
      @media (max-width: 1030px) {
        .cuerpo .publicidad .publicidad-txt p, .cuerpo .publicidad .publicidad-txt .portada .text a, .cuerpo .portada .text .publicidad .publicidad-txt a {
          font-size: 2.5rem;
          width: auto;
          text-align: center; } }
      @media (max-width: 530px) {
        .cuerpo .publicidad .publicidad-txt p, .cuerpo .publicidad .publicidad-txt .portada .text a, .cuerpo .portada .text .publicidad .publicidad-txt a {
          font-size: 2.3rem;
          margin: 20px 0px; } }
    .cuerpo .publicidad .publicidad-txt a {
      background: linear-gradient(to left, rgba(178, 65, 139, 0.3) 0%, rgba(2, 12, 71, 0.3) 100%);
      border: solid 1px white;
      border-radius: 5px;
      padding: 15px;
      font-size: 3rem;
      font-family: "IBM";
      color: white; }
      .cuerpo .publicidad .publicidad-txt a:hover {
        transition: all .5s ease-in-out; }
      @media (max-width: 530px) {
        .cuerpo .publicidad .publicidad-txt a {
          font-size: 2rem; } }
      @media (max-width: 360px) {
        .cuerpo .publicidad .publicidad-txt a {
          font-size: 1.7rem; } }

.cuerpo .faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto; }
  .cuerpo .faq h4 {
    margin-top: 25px;
    font-size: 5rem;
    font-family: "IBM";
    font-weight: bold; }
    @media (max-width: 530px) {
      .cuerpo .faq h4 {
        font-size: 4rem; } }
    @media (max-width: 450px) {
      .cuerpo .faq h4 {
        font-size: 3rem;
        text-align: center; } }
  .cuerpo .faq .accordion {
    width: 90%;
    max-width: 800px; }
    .cuerpo .faq .accordion .accordion-item {
      color: black;
      margin: 25px 0px;
      border-radius: 3px; }
      .cuerpo .faq .accordion .accordion-item .accordion-item-header {
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 3px;
        min-height: 3.5rem;
        position: relative;
        display: flex;
        align-items: center;
        font-family: "IBM";
        font-weight: bold;
        font-size: 1.8rem;
        cursor: pointer; }
        .cuerpo .faq .accordion .accordion-item .accordion-item-header:hover {
          border-radius: 3px;
          background-color: rgba(0, 0, 0, 0.07); }
        .cuerpo .faq .accordion .accordion-item .accordion-item-header:after {
          content: "\002B";
          font-size: 2.5rem;
          position: absolute;
          right: 1rem;
          transition: .2s ease-in-out; }
        .cuerpo .faq .accordion .accordion-item .accordion-item-header.active:after {
          content: "\2212";
          font-size: 2.5rem;
          position: absolute;
          right: 1rem; }
      .cuerpo .faq .accordion .accordion-item .accordion-item-body {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.25s ease-in-out; }
        .cuerpo .faq .accordion .accordion-item .accordion-item-body .accordion-item-body-content {
          font-family: "IBM";
          font-weight: 100;
          font-size: 1.6rem;
          border-top: solid 1px rgba(0, 0, 0, 0.05);
          padding: 1rem; }
      .cuerpo .faq .accordion .accordion-item .accordion-item-header.active + .accordion-item-body {
        max-height: 200px;
        display: block; }
  .cuerpo .faq h5 {
    margin-top: 25px;
    font-size: 4rem;
    font-family: "IBM";
    font-weight: bold; }
    @media (max-width: 530px) {
      .cuerpo .faq h5 {
        font-size: 2.5rem; } }
    @media (max-width: 450px) {
      .cuerpo .faq h5 {
        font-size: 2.2rem;
        text-align: center; } }
  .cuerpo .faq .whatsapp {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 15px;
    border: solid 2px black;
    cursor: pointer;
    background-color: #572a69; }
    .cuerpo .faq .whatsapp:active {
      background-color: #2CB740; }
    .cuerpo .faq .whatsapp i {
      font-size: 1.8rem;
      margin-right: 5px;
      color: white;
      font-weight: bold; }
    .cuerpo .faq .whatsapp a {
      text-decoration: none;
      font-weight: bold;
      color: white;
      font-family: "IBM";
      font-size: 1.8rem; }

.pie {
  grid-area: footer;
  background-color: black; }
  .pie .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 25px;
    margin-top: 35px;
    padding: 15px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.05); }
    @media (max-width: 720px) {
      .pie .info {
        padding: 10px;
        flex-direction: column; } }
    .pie .info .info-a, .pie .info .info-b, .pie .info .info-c {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
      @media (max-width: 720px) {
        .pie .info .info-a, .pie .info .info-b, .pie .info .info-c {
          margin: 15px 0px;
          align-items: center; } }
      .pie .info .info-a h6, .pie .info .info-b h6, .pie .info .info-c h6 {
        font-family: "IBM";
        color: white;
        font-size: 1.4rem; }
      .pie .info .info-a .info-links, .pie .info .info-b .info-links, .pie .info .info-c .info-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; }
        @media (max-width: 720px) {
          .pie .info .info-a .info-links, .pie .info .info-b .info-links, .pie .info .info-c .info-links {
            align-items: center; } }
        .pie .info .info-a .info-links a, .pie .info .info-b .info-links a, .pie .info .info-c .info-links a {
          font-family: "IBM";
          font-size: 1.4rem;
          color: white;
          text-decoration: none;
          margin: 5px 0px; }
          .pie .info .info-a .info-links a:hover, .pie .info .info-b .info-links a:hover, .pie .info .info-c .info-links a:hover {
            text-decoration: underline; }
  .pie .copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 25px;
    padding: 15px; }
    @media (max-width: 855px) {
      .pie .copyright {
        flex-direction: column;
        justify-content: center; } }
    .pie .copyright p, .pie .copyright .cuerpo .portada .text a, .cuerpo .portada .text .pie .copyright a {
      color: white;
      font-size: 1.4rem; }
      @media (max-width: 720px) {
        .pie .copyright p, .pie .copyright .cuerpo .portada .text a, .cuerpo .portada .text .pie .copyright a {
          text-align: center; } }
    .pie .copyright .social {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      color: white; }
      .pie .copyright .social a {
        color: white; }
        .pie .copyright .social a i {
          margin: 0px 5px; }
          @media (max-width: 855px) {
            .pie .copyright .social a i {
              margin: 15px 5px; } }
