.internal-main {
    grid-row: 2;

    .welcome {
        height: 200px;
        width: 100%;
        padding-left: 20px;
        background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(79, 91, 164) 100%), linear-gradient(270deg, rgb(114, 27, 129)0%, rgb(29, 6, 100)) 100%;
        @include flex(column, center, flex-start);

        .section {
            border: solid 1px white;
            padding: 5px;

            a {
                text-decoration: none;
                font-size: 1.8rem;
                font-family: IBM;
                color: white;
                padding: 0px 5px;
                border-right: solid 1px rgba(255, 255, 255, .1);

                &:nth-child(2) {
                    border-right: none;
                    font-weight: bold;
                    color: white;
                }
            }

            .slatch {
                @extend a;
            }
        }

        h2 {
            font-family: IBM;
            font-size: 5rem;
            font-weight: bold;
            color: white;
        }

        p {
            font-family: IBM;
            font-size: 2rem;
            color: white;
        }
    }

    .products {
        display: grid;
        grid-template-columns: 250px 200px;
        grid-template-rows: 1fr;

        .filters {
            grid-column: 1;
            padding: 0px 5px;
            border-right: solid 1px rgba(0, 0, 0, .1);

            .filters-text {
                @include flex(row, flex-start, center);
                color: black;
                font-size: 2.5rem;
                padding: 5px;
                border-bottom: solid 1px rgba(0, 0, 0, .1);

                h6 {
                    font-family: "IBM";
                    font-weight: bold;
                }
            }

            .checkboxes {
                @include flex(column, flex-start, flex-start);
                padding: 0px 5px;

                .categories {
                    padding: 5px;
                    font-size: 1.7rem;
                    position: relative;
                    right: 10px;
                    border-bottom: solid 1px rgba(0, 0, 0, .1);
                    width: 250px;

                    .categories-checkbox {
                        @include flex(row, flex-start, center);
                        margin-bottom: 5px;

                        input[type="checkbox"] {
                            display: none;

                            &:checked+label {
                                padding: 5px;
                                border-radius: 5px;
                                background-color: #6E2083;
                                font-weight: bold;
                                margin-left: 0;
                                left: 8px;
                                color: white;
                            }

                            &:checked+label:before {
                                display: none;
                            }
                        }

                        label {
                            margin-left: 10px;
                            padding: 5px 15px 5px 51px;
                            display: inline-block;
                            position: relative;
                            right: 20px;
                            border-radius: 3px;
                            cursor: pointer;
                            transition: all 0.3s ease;

                            &:hover {
                                font-weight: bold;
                            }

                            &:before {
                                content: "";
                                width: 17px;
                                height: 17px;
                                display: inline-block;
                                background-color: none;
                                border: solid 1px black;
                                border-radius: 3px;
                                position: absolute;
                                left: 17px;
                            }
                        }
                    }
                }
            }

            .parameters{
                .select-menu {
                    width: 240px;
                    margin: 20px auto;
    
                    &.active .options {
                        display: block;
                    }
    
                    &.active .select-btn i {
                        transform: rotate(-180deg);
                    }
    
                    .select-btn {
                        display: flex;
                        height: 30px;
                        background-color: rgba(0, 0, 0, .08);
                        color: black;
                        padding: 20px;
                        font-size: 1.7rem;
                        font-weight: bold;
                        border-radius: 8px;
                        align-items: center;
                        justify-content: space-between;
                        cursor: pointer;
                        box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    
                        span {
                            font-family: IBM;
                        }
    
                        i {
                            font-size: 2.5rem;
                            transition: .3s;
                        }
                    }
    
                    .options {
                        position: relative;
                        padding: 5px;
                        margin-top: 5px;
                        border-radius: 8px;
                        background-color: rgba(0, 0, 0, .08);
                        box-shadow: 0 0 3px rgba(0, 0, 0, .1);
                        transition: 0.3s;
                        display: none;
    
                        .option {
                            display: flex;
                            height: 32px;
                            cursor: pointer;
                            align-items: center;
                            justify-content: space-between;
                            padding: 0 10px;
                            margin: 10px 0px;
                            border-radius: 5px;
    
                            &:hover {
                                background-color: rgba(0, 0, 0, .05);
                            }
    
                            i {
                                font-size: 25px;
                                margin-top: 5px;
                                margin-right: 12px;
                                text-align: center;
                            }
    
                            .option-text {
                                font-family: IBM;
                                font-size: 1.7rem;
                                font-weight: bold;
                                color: black;
                            }
                        }
                    }
                }

                .select-menu-2{
                    @extend .select-menu;

                    &.active .options-2{
                        @extend .select-menu;
                    }

                    &.active .select-btn-2 i{
                        @extend .select-menu;
                    }

                    .select-btn-2{
                        @extend .select-btn;
                    }

                    .options-2{
                        @extend .options;

                        .option-2{
                            @extend .option;
                        }

                        .option-text-2{
                            @extend .option-text;
                        }
                    }
                }
            }
        }
    }
}
