.internal-main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 350px repeat(3, 1fr);
    background-color: rgba(255, 255, 255, 1);
    
    .welcome{
        grid-row: 1;
        padding-left: 20px;
        background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%), linear-gradient(270deg, rgb(29, 6, 100) 0%,rgb(114, 27, 129)) 100%;
        @include flex(column, center, flex-start);
        span{
            a{
                text-decoration: none;
                font-size: 1.5rem;
                font-weight: bold;
                font-family: IBM;
                color: white;
            }
            .slatch{
                @extend a;
            }
        }
        h2{
            font-family: IBM;
            font-size: 5rem;
            font-weight: bold;
            color: white;
        }
        p{
            font-family: IBM;
            font-size: 2rem;
            color: white;
        }
    }
    .asd{
        height: 400px;
        h2{
            color: white;
            font-size: 10rem;
        }
    }
}
