.encabezado {
    grid-area: header;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, .1);
    z-index: 9999;
    position: fixed;
    width: 100vw;
    height: 80px;

    .container {
        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0px 40px;
            background-color: white;

            .logo {
                img {
                    height: 80px;
                }

                @include mQuerie(m) {
                    flex: 0 0 auto;
                }
            }

            .nav {
                @include mQuerie(m) {
                    // order: 3;
                    // flex: 0 0 100%;
                    // position: fixed;
                    // width: 32px;
                    // background-color: #ffffff;
                    // box-shadow: 0px 0px 15px #ccc;
                    // left: 0;
                    // top: 0;
                    // height: 100%;
                    // width: 350px;
                    // display: block;
                }

                .menu-overlay {

                    @include mQuerie(m) {
                        position: fixed;
                        background-color: rgba(0, 0, 0, 0.5);
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 1098;
                        visibility: hidden;
                        opacity: 0;
                        transition: all 0.5s ease;
                    }

                    &.open {
                        visibility: visible;
                        opacity: 1;
                    }
                }

                .menu {
                    @include mQuerie(m) {
                        position: fixed;
                        width: 360px;
                        background-color: #ffffff;
                        left: 0;
                        top: 0;
                        height: 100%;
                        transition: all 0.5s ease;
                        z-index: 1100;
                        transform: translateX(-150%);

                        &.open {
                            transform: translateX(0%);
                        }
                    }

                    .mobile-menu-head {
                        display: none;

                        @include mQuerie(m) {
                            display: flex;
                            height: 60px;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                            justify-content: space-between;
                            align-items: center;
                            position: relative;
                            z-index: 9999;
                            position: static;
                            background-color: #ffffff;
                            top: 0;

                            &.active {
                                .go-back {
                                    display: block;
                                }

                                .current-menu_title {
                                    visibility: visible;
                                }
                            }
                        }

                        .go-back {
                            height: 60px;
                            width: 60px;
                            border-right: 1px solid rgba(0, 0, 0, 0.1);
                            cursor: pointer;
                            line-height: 60px;
                            text-align: center;
                            color: #000000;
                            font-size: 16px;
                            display: none;

                            i {
                                font-size: 50px;
                                padding: 5px 0px;
                            }
                        }

                        .current-menu_title {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            font-size: 20px;
                            font-weight: 500;
                            color: #000000;
                            visibility: hidden;

                            img {
                                width: 45px;
                                height: 45px;
                            }
                        }

                        .mobile-menu-close {
                            height: 60px;
                            width: 60px;
                            border-left: 1px solid rgba(0, 0, 0, 0.1);
                            cursor: pointer;
                            line-height: 60px;
                            text-align: center;
                            color: #000000;

                            i {
                                font-size: 50px;
                                padding: 5px 0px;
                            }
                        }

                    }

                    .menu-main {
                        /* Categorías UL */
                        display: flex;

                        @include mQuerie(m) {
                            height: 100%;
                            overflow-x: hidden;
                            overflow-y: auto;
                            flex-direction: column;
                        }

                        .nav-item {
                            /* Categorías LI */
                            padding: 25px 0px;

                            @include mQuerie(m) {
                                line-height: 1;
                                margin: 0;
                                padding: 0;
                                display: block;
                            }

                            .nav-link {
                                /* Categorías Anchor */
                                font-family: 'Roboto Flex', sans-serif;
                                font-size: 1.7rem;
                                font-weight: 600;
                                padding: 0px 10px;
                                color: black;

                                &:hover {
                                    i {
                                        transition: .3s;
                                        transform: rotate(180deg);
                                    }
                                }

                                i {
                                    font-size: 1.5rem;

                                    @include mQuerie(m) {
                                        position: absolute;
                                        right: 0;
                                        padding: 0px 14.5px;
                                        border-left: solid 1px rgba(0, 0, 0, .1);
                                        height: 50px;
                                        line-height: 50px;
                                        font-size: 3rem;
                                    }
                                }

                                &:hover {
                                    color: $principal;
                                }

                                @include mQuerie(m) {
                                    position: relative;
                                    left: -40px;
                                    top: 0px;
                                    line-height: 50px;
                                    height: 50px;
                                    width: 360px;
                                    padding: 0 50px 0 15px;
                                    display: block;
                                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                                }

                            }

                            .sub-menu {
                                /* Subcategorías DIV */
                                /* Caja contenedora del dropdown menú*/
                                position: absolute;
                                z-index: 500;
                                background: rgb(5, 26, 75);
                                background: linear-gradient(90deg, rgba(5, 26, 75, 1) 0%, rgba(87, 42, 105, 1) 100%);
                                padding: 20px 30px;
                                transition: all 0.5s ease;
                                top: 80px;
                                left: 0;
                                right: 0;
                                opacity: 0;
                                visibility: hidden;

                                @include mQuerie(m) {
                                    background-color: white;
                                    background: white;
                                    visibility: visible;
                                    opacity: 1;
                                    position: absolute;
                                    box-shadow: none;
                                    margin: 0;
                                    padding: 15px;
                                    top: 60px;
                                    width: 100%;
                                    height: 100%;
                                    display: none;
                                    transform: translateX(0%);
                                    overflow-y: auto;


                                    &.active {
                                        display: block;
                                    }

                                    @keyframes slideLeft {
                                        0% {
                                            opacity: 0;
                                            transform: translateY(100%);
                                        }

                                        100% {
                                            opacity: 1;
                                            transform: translateY(0%);
                                        }
                                    }

                                    @keyframes slideRight {
                                        0% {
                                            opacity: 1;
                                            transform: translateY(0%);
                                        }

                                        100% {
                                            opacity: 0;
                                            transform: translateY(100%);
                                        }
                                    }
                                }

                                ul {
                                    /* Disposición de elementos del dropdown menú */
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;

                                    @include mQuerie(m) {
                                        width: 360px;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        flex-direction: column;
                                    }
                                }

                                li {
                                    /* Elementos individuales del dropdown menú*/
                                    align-self: flex-start;
                                    font-size: 1.7rem;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    padding: 20px;

                                    @include mQuerie(m) {
                                        width: 360px;
                                        position: relative;
                                        left: -40px;
                                        justify-content: flex-start;
                                        border-bottom: solid 1px rgba(0, 0, 0, .1);
                                    }

                                    a {
                                        font-size: 1.5rem;
                                        color: rgb(255, 255, 255);

                                        @include mQuerie(m) {
                                            color: black;
                                        }

                                        &:hover {
                                            color: rgb(232, 204, 133);
                                        }

                                    }

                                    img {
                                        width: 32px;
                                        height: 32px;
                                        margin-right: 10px;
                                        border-radius: 50%;
                                    }

                                }

                            }

                        }

                        .img {
                            display: none;

                            @include mQuerie(m) {
                                display: block;
                                width: 360px;
                                position: relative;
                                left: -40px;
                                margin: 40px 0px;

                                img {
                                    width: 100px;
                                    height: 100px;
                                    margin: 0px 130px;
                                }
                            }
                        }

                        .item-father:hover {
                            .sub-menu {
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            .users {
                display: flex;
                justify-content: center;
                align-items: center;

                @include mQuerie(m) {
                    flex: 0 0 auto;
                    align-items: center;
                }

                .bx-cart {
                    padding: 0px 15px;
                }

                .bx-menu {
                    margin-left: 15px;
                    display: none;

                    @include mQuerie(m) {
                        display: block;
                        margin-left: 0;
                    }
                }

                .bxs-user-circle {
                    @include mQuerie(m) {
                        display: none;
                    }
                }

                .mobile-menu-trigger {
                    height: 30px;
                    width: 30px;
                    margin-left: 15px;
                    cursor: pointer;
                    align-items: center;
                    justify-content: center;
                    display: none;

                    @include mQuerie(m) {
                        display: flex;
                    }

                    span {
                        display: block;
                        height: 2px;
                        background-color: #333333;
                        width: 24px;
                        position: relative;

                        &:before {
                            content: '';
                            position: absolute;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: #333333;
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: #333333;
                        }

                        &:before {
                            top: -6px;
                        }

                        &:after {
                            top: 6px;
                        }
                    }

                }

                i {
                    font-size: 3.5rem;
                    cursor: pointer;

                    &:hover {
                        color: $principal;
                    }
                }
            }

        }

        .v-center {
            align-items: center;
        }
    }

}