.encabezado {
    grid-area: header;

    .desktop-version {
        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            z-index: 999;
            font-size: 1.7rem;
            padding: 0px 40px;

            .logo {
                img {
                    height: 80px;
                }
            }

            .toggle-menu {
                display: none;
            }

            .nav-list {
                display: flex;

                .close-menu {
                    display: none;
                }

                .mega-menu{
                    position: absolute;
                    width: 100%;
                    top: 0;
                    left: 0;
                    background-color: #fff;
                    display: flex;
                    justify-content: center;
                    border-radius: 0px 0px 20px 20px;
                    box-shadow: 0 23px 23px -21px rgba(0, 0, 0, .25);
                    z-index: -99;
                    // visibility: hidden;
                    // opacity: 0;

                    .content{
                        display: flex;
                        flex-direction: column;
                        padding: 1rem;
                        .mega-menu_item{
                            display: flex;
                            align-items: center;
                            margin-bottom: 1rem;
                                .megamenu-icon{
                                    height: 32px;
                                    width: 32px;
                                    border-radius: 50%;
                                    text-align: center;
                                    background-color: #efeef1;
                                    margin-right: 0.5rem;
                                }
                        }
                        .header-megamenu{
                            font-weight: bolder;
                            margin-bottom: 1rem;
                        }
                    }
                }

                .nav-item {
                    list-style: none;
                    margin: 0 15px;
                    padding: 14px 0;

                    .nav-link {
                        text-decoration: none;
                        color: black;
                        font-weight: bolder;

                        &:hover {
                            color: $principal;
                        }
                    }

                    .dropdown-link {
                        display: flex;
                        align-items: center;
                    }
                }

            }
        }
    }

    .tablet-mobile_version {
        display: none;

        @include mQuerie(m) {
            background-color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-family: 'Roboto Flex', IBM, 'sens-serif';
            font-weight: 200;
            box-shadow: 0px 0px 5px 0px black;
            padding: 0px 60px;
            z-index: 1;

            .logo {
                img {
                    height: 80px;
                }
            }

            label {
                i {
                    color: $principal;
                    font-size: 6rem;
                    cursor: pointer;
                }
            }

            input {
                display: none;
            }

            .nav-mt {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                position: absolute;
                top: 80px;
                bottom: 0;
                left: 0;
                background-color: rgba(0, 0, 0, .9);
                width: 100vw;
                height: 100vh;
                clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
                transition: clip-path 1s ease-in-out;
                padding: 25px;

                .nav-mt_user {
                    align-self: center;
                    padding-bottom: 40px;

                    .user-r {
                        font-family: 'Roboto Flex', IBM, 'sens-serif';
                        text-decoration: none;
                        color: black;
                        font-size: 24px;
                        padding: 5px 100px;
                        background-color: white;
                        border-radius: 5px;
                        border: solid 1px black;
                        margin: 0px 10px;
                    }

                    .user-l {
                        font-family: 'Roboto Flex', IBM, 'sens-serif';
                        text-decoration: none;
                        color: white;
                        font-size: 24px;
                        padding: 5px 100px;
                        background-color: none;
                        border-radius: 5px;
                        border: solid 1px white;
                        margin: 0px 10px;
                    }
                }

                .nav-mt_ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin: 0;

                    .tag {
                        color: rgba(255, 255, 255, 0.5);
                        font-size: 1.5rem;
                        font-weight: bold;
                        border-bottom: solid 1px white;
                    }

                    li {
                        list-style-type: none;
                        padding: 20px 0px;

                        a {
                            text-decoration: none;
                            color: white;
                            font-weight: bold;
                            font-size: 1.7rem;
                        }
                    }
                }

                .nav-mt_rs {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin: 20px 0px;

                    p {
                        color: rgba(255, 255, 255, 0.5);
                        font-size: 1.5rem;
                        font-weight: bold;
                        border-bottom: solid 1px white;
                    }

                    div {
                        .social-logos {
                            color: white;
                            font-size: 30px;
                            position: relative;
                            right: 7px;
                        }
                    }
                }
            }

            input:checked+.nav-mt {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
        }
    }
}