.encabezado {
    grid-area: header;
    box-shadow: 2100px 21px 201px -21px black;
    z-index: 99;

    .container {
        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0px 40px;
            box-shadow: 0px 14px 14px -21px black;

            .logo {
                img {
                    height: 80px;
                }
            }

            .nav {
                color: black;

                .nav-menu {
                    display: flex;

                    .nav-item {

                        .nav-link { /* Categorías */
                            font-family: 'Roboto Flex', sans-serif;
                            font-size: 1.7rem;
                            font-weight: 600;
                            padding: 0px 10px;
                            color: black;

                            i {
                                font-size: 1.5rem;
                            }

                            &:hover {
                                color: $principal;
                            }
                        }

                        .sub-menu { /* Subcategorías */
                            /* Caja contenedora del dropdown menú*/
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            top: 80px;
                            left: 0;
                            z-index: 500;
                            background-color: rgba(255, 255, 255, .7);
                            box-sizing: -2px 20px 70px 25px rgba(0, 0, 0, .3);
                            width: 100%;
                            // opacity: 0;
                            // visibility: hidden;

                            .sub-menu_ul {
                                /* Disposición de elementos del dropdown menú */
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                            }

                            .sub-menu_item {
                                /* Elementos individuales del dropdown menú*/
                                align-self: flex-start;
                                font-size: 1.7rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: 20px;

                                .sub-menu_link {
                                    font-size: 1.7rem;
                                    font-weight: bold;
                                    color: black;

                                    &:hover {
                                        color: $principal;
                                    }
                                }

                                img {
                                    width: 32px;
                                    height: 32px;
                                    margin-right: 5px;
                                }

                            }

                        }

                    }
                }
            }

            .users {
                display: flex;

                .bx-cart {
                    padding: 0px 15px;
                }

                i {
                    font-size: 3rem;
                    cursor: pointer;

                    &:hover {
                        color: $principal;
                    }
                }
            }

        }

        .v-center {
            align-items: center;
        }
    }

}