.cuerpo {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 600px repeat(3, 1fr);

    @include mQuerie(m) {
        grid-template-rows: 900px repeat(3, 1fr);
    }

    @include mQuerie(mobile) {
        grid-template-rows: 500px repeat(3, 1fr);
    }

    .portada {
        background: center url(../../assets/img/editor-main.jpg);
        background-size: cover;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;

        @include mQuerie(m) {
            flex-direction: column;
            justify-content: center;
        }

        @include mQuerie(mobile) {
            justify-content: flex-start;
            align-items: center;
            padding: 20px 0px;
        }

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            @include mQuerie(m) {
                align-items: center;
            }

            h1 {
                color: white;
                font-family: IBM;
                font-weight: Bold;
                font-size: 6rem;

                @include mQuerie(xl) {
                    font-size: 5rem;
                }

                @include mQuerie(l) {
                    font-size: 4rem;
                }

                @include mQuerie(s) {
                    font-size: 3rem;
                }

                @include mQuerie(mobile) {
                    font-size: 2.5rem;
                }

                span {
                    font-family: IBM;
                    display: block;

                    @include mQuerie(m) {
                        text-align: center;
                    }
                }
            }

            p {
                @extend h1;
                font-size: 3.5rem;
                font-weight: 100;

                @include mQuerie(xl) {
                    font-size: 3rem;
                }

                @include mQuerie(l) {
                    font-size: 2.5rem;
                }

                @include mQuerie(s) {
                    font-size: 2rem;
                }

                @include mQuerie(mobile) {
                    font-size: 1.6rem;
                }
            }

            a {
                @extend p;
                text-decoration: none;
                margin-top: 15px;
                background: $principal;
                font-size: 2.4rem;
                padding: 20px;
                border-radius: 5px;
                border: solid 1px white;

                @include mQuerie(xl) {
                    font-size: 1.8rem;
                }

                @include mQuerie(l) {
                    font-size: 1.5rem;
                }

                @include mQuerie(m) {
                    margin: 15px 0px;
                }

                @include mQuerie(s) {
                    padding: 10px;
                }
            }
        }

        .img {
            img {
                width: 700px;
                height: 500px;
                opacity: .5;

                @include mQuerie(xl) {
                    width: 600px;
                    height: 400px;
                }

                @include mQuerie(l) {
                    width: 500px;
                }

                @include mQuerie(m) {
                    height: 400px;
                }

                @include mQuerie(mobile) {
                    height: 300px;
                    width: 300px;
                }
            }
        }
    }

    .products {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $pages2;

        .info {
            align-self: flex-start;
            margin: 20px;

            .text{
                .text-h2 {
                    font-family: 'Lato', 'Roboto Flex', sans-serif;
                    font-weight: bold;
                    font-size: 6rem;
                    background: #4A299C;
                    background: radial-gradient(circle farthest-side at bottom left, #4A299C 0%, #9C2987 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
    
                .text-p {
                    font-family: 'Lato', 'Roboto Flex', sans-serif;
                    font-size: 2.5rem;
                    margin: 0px 5px;
                    span{
                        display: block;
                        font-family: 'Lato', 'Roboto Flex', sans-serif;
                        font-size: 2.5rem;
                        font-weight: bold;
                    }
                }
            }

            .row-1{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                .card-1{
                    height: 300px;
                    width: 300px;
                    border: solid 1px black;
                }
                .card-2{
                    @extend .card-1;
                }
                .card-3{
                    @extend .card-1;
                }
                .card-4{
                    @extend .card-1;
                }
            }
        }

        .row-1 {}

        .row-2 {}
    }
}