.cuerpo {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 600px 900px repeat(2, 1fr);
    background-color: rgba(0, 0, 0, .05);

    @include mQuerie(m) {
        grid-template-rows: 900px repeat(3, 1fr);
    }

    @include mQuerie(mobile) {
        grid-template-rows: 500px repeat(3, 1fr);
    }

    .portada {
        // background: center url(../../assets/img/editor-main.jpg);
        background-size: cover;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;

        @include mQuerie(m) {
            flex-direction: column;
            justify-content: center;
        }

        @include mQuerie(mobile) {
            justify-content: flex-start;
            align-items: center;
            padding: 20px 0px;
        }

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            @include mQuerie(m) {
                align-items: center;
            }

            h1 {
                color: black;
                font-family: IBM;
                font-weight: Bold;
                font-size: 6rem;

                @include mQuerie(xl) {
                    font-size: 5rem;
                }

                @include mQuerie(l) {
                    font-size: 4rem;
                }

                @include mQuerie(s) {
                    font-size: 3rem;
                }

                @include mQuerie(mobile) {
                    font-size: 2.5rem;
                }

                span {
                    font-family: IBM;
                    display: block;

                    @include mQuerie(m) {
                        text-align: center;
                    }
                }
            }

            p {
                @extend h1;
                font-size: 3.5rem;
                font-weight: 100;

                @include mQuerie(xl) {
                    font-size: 3rem;
                }

                @include mQuerie(l) {
                    font-size: 2.5rem;
                }

                @include mQuerie(s) {
                    font-size: 2rem;
                }

                @include mQuerie(mobile) {
                    font-size: 1.6rem;
                }
            }

            a {
                @extend p;
                text-decoration: none;
                font-weight: bold;
                margin-top: 15px;
                color: white;
                background: $principal;
                font-size: 2.4rem;
                padding: 20px;
                border-radius: 5px;
                border: solid 2px $secundario;
                &:active{
                    transition: all .4s ease-in-out;
                    transform: scale(1.001);
                    background: rgb(5, 26, 75);
                    background: linear-gradient(90deg, rgba(5, 26, 75, 1) 0%, rgba(87, 42, 105, 1) 100%);
                }

                @include mQuerie(xl) {
                    font-size: 1.8rem;
                }

                @include mQuerie(l) {
                    font-size: 1.5rem;
                }

                @include mQuerie(m) {
                    margin: 15px 0px;
                }

                @include mQuerie(s) {
                    padding: 10px;
                }
            }
        }

        .img {
            img {
                width: 700px;
                height: 500px;
                opacity: 1;

                @include mQuerie(xl) {
                    width: 600px;
                    height: 400px;
                }

                @include mQuerie(l) {
                    width: 500px;
                }

                @include mQuerie(m) {
                    height: 400px;
                }

                @include mQuerie(mobile) {
                    height: 300px;
                    width: 300px;
                }
            }
        }
    }

    .products{
        @include flex(column, center, center);
        background-color: rgba(0, 0, 0, .01);
        .products-text{
            @include flex(column, center, center);
            margin-bottom: 2rem;
            h2{
                font-size: 4rem;
                font-family: "IBM";
                font-weight: bold;
            }
            p{
                font-size: 2rem;
                font-family: "IBM";
            }
        }
        .products-cards{
            @include flex(row, center, center);
            flex-wrap: wrap;
            a{
                margin: 15px;
                .cards{
                    width: 300px;
                    height: 270px;
                    @include flex(column, flex-start, flex-start);
                    transition: all .2s ease-in-out;
                    &:hover{
                        transform: scale(1.1);
                    }
                    img{
                        width: 300px;
                        height: 200px;
                        border-radius: 5px;
                    }
                    span{
                        @include flex(column, flex-start, flex-start);
                        width: 300px;
                        position: relative;
                        bottom: 20px;
                        padding: 10px 5px;
                        h3{
                            font-size: 2rem;
                            font-weight: bold;
                            font-family: "IBM";
                            color: black;
                            &:hover{
                                color: $principal;
                            }
                        }
                        p{
                            font-size: 1.2rem;
                            font-family: "IBM";
                            &:hover{
                                color: $principal;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
        .products-test{
            @include flex(column, center, center);
            h4{
                font-size: 3rem;
                font-family: "IBM";
                font-weight: bold;
            }
            .test-logos{
                margin-top: 50px;
                @include flex(row, center, center);
                .test-software{
                    @include flex(row, flex-start, center);
                    padding: 10px;
                    img{
                        width: 30px;
                        height: 30px;
                    }
                    p{
                        line-height: 30px;
                        font-size: 1.7rem;
                        margin-left: 7.5px;
                        padding: 0px 15px;
                        border-right: solid 1px rgba(0, 0, 0, .1);
                    }
                    .lightroom{
                        border-right: none;
                    }
                }
            }
        }
    }

}