.cuerpo {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 600px 1fr 600px 200px;

    @include mQuerie(m) {
        grid-template-rows: 900px repeat(3, 1fr);
    }

    @include mQuerie(mobile) {
        grid-template-rows: 500px repeat(3, 1fr);
    }

    .portada {
        // background: center url(../../assets/img/editor-main.jpg);
        background-size: cover;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, .01);
        padding: 0px 20px;

        @include mQuerie(m) {
            flex-direction: column;
            justify-content: center;
        }

        @include mQuerie(mobile) {
            justify-content: flex-start;
            align-items: center;
            padding: 20px 0px;
        }

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            @include mQuerie(m) {
                align-items: center;
            }

            h1 {
                color: black;
                font-family: IBM;
                font-weight: Bold;
                font-size: 6rem;

                @include mQuerie(xl) {
                    font-size: 5rem;
                }

                @include mQuerie(l) {
                    font-size: 4rem;
                }

                @include mQuerie(s) {
                    font-size: 3rem;
                }

                @include mQuerie(mobile) {
                    font-size: 2.5rem;
                }

                span {
                    font-family: IBM;
                    display: block;

                    @include mQuerie(m) {
                        text-align: center;
                    }
                }
            }

            p {
                @extend h1;
                font-size: 3.5rem;
                font-weight: 100;

                @include mQuerie(xl) {
                    font-size: 3rem;
                }

                @include mQuerie(l) {
                    font-size: 2.5rem;
                }

                @include mQuerie(s) {
                    font-size: 2rem;
                }

                @include mQuerie(mobile) {
                    font-size: 1.6rem;
                }
            }

            a {
                @extend p;
                text-decoration: none;
                font-weight: bold;
                margin-top: 15px;
                color: white;
                background: $principal;
                font-size: 2.4rem;
                padding: 20px;
                border-radius: 5px;
                border: solid 2px $secundario;

                &:active {
                    transition: all .4s ease-in-out;
                    transform: scale(1.001);
                    background: rgb(5, 26, 75);
                    background: linear-gradient(90deg, rgba(5, 26, 75, 1) 0%, rgba(87, 42, 105, 1) 100%);
                }

                @include mQuerie(xl) {
                    font-size: 1.8rem;
                }

                @include mQuerie(l) {
                    font-size: 1.5rem;
                }

                @include mQuerie(m) {
                    margin: 15px 0px;
                }

                @include mQuerie(s) {
                    padding: 10px;
                }
            }
        }

        .img {
            img {
                width: 700px;
                height: 500px;
                opacity: 1;
                border-radius: 50%;

                @include mQuerie(xl) {
                    width: 600px;
                    height: 400px;
                }

                @include mQuerie(l) {
                    width: 500px;
                }

                @include mQuerie(m) {
                    height: 400px;
                }

                @include mQuerie(mobile) {
                    height: 300px;
                    width: 300px;
                }
            }
        }
    }

    .products {
        @include flex(column, center, center);
        background-color: rgba(0, 0, 0, .05);

        .products-text {
            @include flex(column, center, center);
            margin-bottom: 2rem;

            @include mQuerie(preMobile) {
                margin: 10px 0px;
            }

            h2 {
                margin-top: 10px;
                font-size: 4rem;
                font-family: "IBM";
                font-weight: bold;

                @include mQuerie(l) {
                    font-size: 3rem;
                }

                @include mQuerie(tablet) {
                    text-align: center;
                }
            }

            p {
                margin-top: 5px;
                font-size: 2rem;
                font-family: "IBM";

                @include mQuerie(preMobile) {
                    font-size: 1.7rem
                }
            }
        }

        .products-cards {
            @include flex(row, center, center);
            flex-wrap: wrap;

            a {
                margin: 15px;

                .cards {
                    width: 300px;
                    height: 270px;
                    @include flex(column, flex-start, flex-start);
                    transition: all .2s ease-in-out;

                    &:hover {
                        transform: scale(1.1);
                    }

                    img {
                        width: 300px;
                        height: 200px;
                        border-radius: 5px;
                    }

                    span {
                        @include flex(column, flex-start, flex-start);
                        width: 300px;
                        position: relative;
                        bottom: 20px;
                        padding: 10px 5px;

                        h3 {
                            font-size: 2rem;
                            font-weight: bold;
                            font-family: "IBM";
                            color: black;

                            &:hover {
                                color: $principal;
                            }
                        }

                        p {
                            font-size: 1.2rem;
                            font-family: "IBM";

                            &:hover {
                                color: $principal;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        .products-test {
            @include flex(column, center, center);

            h4 {
                font-size: 3rem;
                font-family: "IBM";
                font-weight: bold;

                @include mQuerie(s) {
                    font-size: 2.5rem;
                }

                @include mQuerie(preMobile) {
                    font-size: 2rem;
                }
            }

            .test-logos {
                margin-top: 50px;
                margin-bottom: 20px;
                @include flex(row, center, center);

                @include mQuerie(tabletM) {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(5, 1fr);
                    gap: 2px;

                    .ae {
                        grid-column: 2;
                        grid-row: 1;
                    }

                    .pr {
                        grid-column: 2;
                        grid-row: 2;
                    }

                    .ai {
                        grid-column: 2;
                        grid-row: 3;
                    }

                    .ps {
                        grid-column: 2;
                        grid-row: 4;
                    }

                    .lr {
                        grid-column: 2;
                        grid-row: 5;
                    }
                }

                @include mQuerie(s) {
                    grid-template-columns: 1fr;

                    .ae {
                        grid-column: 1;
                        grid-row: 1;
                    }

                    .pr {
                        grid-column: 1;
                        grid-row: 2;
                    }

                    .ai {
                        grid-column: 1;
                        grid-row: 3;
                    }

                    .ps {
                        grid-column: 1;
                        grid-row: 4;
                    }

                    .lr {
                        grid-column: 1;
                        grid-row: 5;
                    }
                }

                .test-software {
                    @include flex(row, flex-start, center);
                    padding: 10px;

                    @include mQuerie(m) {
                        padding: 5px;
                    }

                    @include mQuerie(tabletM) {
                        border-bottom: solid 1px rgba(0, 0, 0, .1);
                    }

                    img {
                        width: 30px;
                        height: 30px;
                    }

                    p {
                        line-height: 30px;
                        font-size: 1.7rem;
                        margin-left: 7.5px;
                        padding: 0px 15px;
                        border-right: solid 1px rgba(0, 0, 0, .1);

                        @include mQuerie(l) {
                            padding: 0 5px;
                            margin-left: 0;
                            font-size: 1.4rem;
                        }

                        @include mQuerie(tablet) {
                            font-size: 1.2rem;
                        }

                        @include mQuerie(tabletM) {
                            padding: 10px;
                            border-right: none;
                        }
                    }

                    .lightroom {
                        border-right: none;

                        @include mQuerie(preMobile) {
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }

    .clients {
        background-color: rgba(0, 0, 0, .01);
        @include flex(column, center, center);

        h4 {
            font-size: 4rem;
            font-family: "IBM";
            font-weight: bold;
            margin: 30px 0px;
        }

        .clients-cards {
            @include flex(row, center, center);

            .client-a {
                width: 350px;
                height: 300px;
                border: solid 1px rgba(0, 0, 0, .05);
                background-color: rgba(0, 0, 0, .005);
                @include flex(column, flex-start, flex-start);
                padding: 10px;

                .client-com {
                    width: 60px;
                    height: 60px;
                }

                .client-text {
                    font-family: "IBM";
                    font-weight: 100;
                    font-size: 1.5rem;
                    margin: 10px 0px;
                }

                .client-name {
                    font-family: "IBM";
                    font-weight: 100;
                    font-size: 1.5rem;

                    span {
                        display: block;
                        img{
                            position: relative;
                            top: 15px;
                            width: 24px;
                            height: 24px;
                        }
                    }
                }

                .client-pic{
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    border: solid 3px $secundario;
                    align-self: flex-end;
                }
            }

            .client-b {
                @extend .client-a;
                margin: 0px 20px;
            }
    
            .client-c {
                @extend .client-a;
            }
        }
    }
}