@font-face {
    font-family: IBM;
    src: url(../../assets/fonts/IBM/IBMPlexSans-Regular.ttf);
}

@font-face{
    font-family: Comforta;
    src: url(../../assets/fonts/Comforta/Comfortaa-SemiBold.ttf)
}

@font-face{
    font-family: Lato;
    src: url(../../assets/fonts/Lato/Lato-Regular.ttf)
}

@font-face{
    font-family: "Archive Black";
    src: url(../../assets/fonts/Archive-Black/ArchivoBlack-Regular.ttf)
}

@font-face{
    font-family: Yellowtail;
    src: url(../../assets/fonts/Yellowtail/Yellowtail-Regular.ttf)
}

@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200&display=swap');