* {
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', IBM, 'sens-serif';
}

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body::-webkit-scrollbar{
    width: 7px;
    background-color: rgba(0, 0, 0, .1);
}

body::-webkit-scrollbar-thumb {
    background: $secundario;
    border-radius: 5px;
}