.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 180px 1fr 150px;
    grid-template-areas:    "header"
                            "main"
                            "footer";
}