// .container{
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-template-rows: 80px 1fr 320px;
//     @include mQuerie(footertablet){
//         grid-template-rows: 80px 1fr 360px;
//     }
//     @include mQuerie(tablethw){
//         grid-template-rows: 80px 1fr 780px;
//     }
//     @include mQuerie(gridmobile){
//         grid-template-rows: 80px 1fr 800px;   
//     }
// }

// .container-internal{
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-template-rows: 80px 1fr 300px;
//     @include mQuerie(footertablet){
//         grid-template-rows: 80px 1fr 360px;
//     }
//     @include mQuerie(tablethw){
//         grid-template-rows: 80px 1fr 780px;
//     }
//     @include mQuerie(gridmobile){
//         grid-template-rows: 80px 1fr 800px;   
//     }
// }